body{
    margin: 0px;
    font-family:'Poppins','san-serif'; 
}

.headers{
    background-image: url(./images/header-bg.png);
    background-repeat: no-repeat;
    background-size:100% 100%;

}

.biography{
    background-image: url(./images/biography-bg.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.latest-work{
    background-image: url(./images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 600px;
}

.footers{
    background-image: url(./images/footer-bg.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 600px;
}

.name-highlight{
    color: hotpink;
    font-size: 50px;
    margin-top: -20px;
    
}


h2{
    font-size: 30px;
}

#ltext{
    font-size: 30px;
    text-align: center;
    padding-top: 5%;

}

section{
    height: 800px;

}

.half-width{
    width: 45%;
    float: left;

    
}

.one-third-width{
    width: 30%;
    float: left;
    padding: 1%;
}

.one-third-width img{
    width: 100%;
    
    }


.latest-work-part{
    padding: 5%;

}  

 #txt{
    margin-top: 10%;

}

#btext{
    margin-top: 10%;
    margin-left: 10%;

}

.half-width img{
width: 100%;

}

.headers-part{
  padding-top:10% ;
  margin-left: 25%;
    
}
.biography-part{
    padding: 8%;
   
    
  }

.link-button{
    text-decoration: none;
    background-color:hotpink;
    padding: 2%;
    border-radius:5px ;
    font-weight: 700;
    color: white;

}

.footers-part{
    width: 40%;
    padding-top: 2%;
    margin-left: 30%;
    
}

#h4-1{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
#h6-1{
    text-align: center;
    color:#817f7fe5;
    font-size: 13px;
}

#p-1{
    font-size: 12px;

}

.mail-decoration{
    background-image: linear-gradient(180deg pink,hotpink);
    background-color: hotpink;
    text-align: center;
    color: white;
    padding: 3%;
    border-radius: 5px;
}

footer p{
    text-align: center;
    font-size: 12px;

}


